@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800;900&family=Tiro+Gurmukhi&display=swap');


*{
    margin : 0; 
    padding  : 0; 
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Tiro Gurmukhi', serif;
    text-decoration: none;
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 50px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* padding: 7px 20px 20px 7px; */
    border-bottom:  0.1px solid rgb(211, 211, 211);
    padding-left: 20px;
    padding-right: 20px;
    padding-top:7px;
    padding-bottom: 7px;
}
.material-symbols-outlined{
    /* font-size: 5px; */
    /* size: 5px;  */
    font-variation-settings:
          'FILL' 0,
          'wght' 300,
          'GRAD' 5,
          'opsz' 18;

}
.leftheader{
    width: 150px;
    display: flex; 
    flex-direction: row;
    justify-content: left; 
    align-items: center;

}
.youtubelogo{
    margin-left : 17px; 
    /* margin-right: 17px; */
}



.middleheader{
    width: 50%; 
    min-width: 200px;
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    /* margin-left:50px; 
    margin-right: 20px; */
    padding-left:50px;
    padding-right: 20px;

}
.searchboxtext{
    width: 100%; 
    height: 35px;
    border-radius:  2px 0px 0px 2px ;
    padding: 10px; 
    font-size: 13px; 
    color: rgb(230, 230, 230);
    border: solid 0.2px rgb(189, 189, 189);

}
.searchicon{
    width: 70px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 2px 2px 0px;
    background-color: rgb(243, 243, 243);
    /* padding: 5px 10px 10px 5px; */
    border: solid 0.2px rgb(189, 189, 189);
}
.micicon{
    border-radius: 50%;
    padding: 6px;
    margin-left: 5px;
    background-color: rgb(245, 245, 245);
    font-variation-settings:
          'FILL' 100,
          'wght' 400,
          'GRAD' 0,
          'opsz' 40;
}




.rightheader{
    width: 150px; 
    display: flex; 
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
    /* font-size:8px; */
    
    
}


.leftheader:hover{
    cursor: pointer;
}
.middleheader:hover{
    cursor: pointer;
}
.rightheader:hover{
    cursor: pointer;
}




.underheader{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row; 
}






.sidebar{
    width: 65px;
    /* border: solid black; */
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    
    font-weight:50;
    
}
.sidebaricon{
    display:flex;
    height:65px; 
    width: 60px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:10px;
    font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 18;
    
}
.sidebaricon span{
    margin-bottom: 3px;
}

.Home{
    font-variation-settings:
          'FILL' 100,
          'wght' 400,
          'GRAD' 0,
          'opsz' 18;
}

.sidebaricon:hover{
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}







.mainbar{
    width: 100%;
    height: 100%;

}
.mainbarheader{
    height: 50px; 
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    overflow: hidden;
    border-bottom: 0.2px solid rgb(226, 226, 226);
}
.mainbarheader .btn{
    background-color: rgb(241, 241, 241);
    border: 0.2px solid rgb(216, 216, 216);
    border-radius: 25px;
    margin-left:10px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 8px;
    padding-left: 8px;
    font-size: 10.5px;
    /* font-weight:bold; */
    color: black;
   
}

.mainbarheader .All{
    background-color: black;
    color: white;
}

.mainbarheader .btn:hover{
    cursor: pointer;
    background-color:  rgb(212, 212, 212);;
    
}






.videosarea {
    width:100%;
    height: 100%;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 10px;
    padding-left: 10px; 
    padding-right: 10px;
    padding-bottom: 10px;
    background-color: rgb(245, 245, 245);

    /* height: auto; */

}
.videosarea a{
    height: 230px;
    max-width: 280px;
    min-width: 230px;
    width: 35%;
    margin-top: 10px;
    margin-left: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
    /* border: 0.1px solid black; */
    display: flex;
    flex-wrap: wrap;    
    flex-direction: column;
    justify-content: space-between;
}

.videoimage{
    width: 100%;
    height: 50%;
} 

.videobottom{
    width: 100%;
    height: 45%;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: top;

}

.videochannellogo{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;

}

.videochannellogo img{
    width: 80%;
    border-radius: 50%;
    /* padding: 10px; */
}


.videotext{
    /* width: 160%; */
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: left;
    margin-left: 5px; 
    margin-right: 5px;

}

.videoname{
    height: 50%;
    font-size: 12px;
    color: black;
    font-weight: bold;
    letter-spacing: 1px;
    text-overflow: clip;

}
.videotextinfo{
    color: rgb(177, 177, 177);
    font-size: 11px;
    line-height: 11px;
    padding-top: 5px;
}

.videomore{
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
}